#botao-modal{
	font-size: 25px;
    margin-left: 380px;
    margin-top: 50px;


}
@media(max-width: 1024px){
    #botao-modal{
    	margin-left: 230px;

    } 
}

@media(max-width: 414px){
    #botao-modal{
    	margin-left: 60px;

    }
}

@media(max-width: 411px){
    #botao-modal{
    	margin-left: 70px;
    
    }
}

@media(max-width: 360px){
    #botao-modal{
    	margin-left: 45px;
    } 
}

@media(max-width: 320px){
    #botao-modal{
    	margin-left: 20px;
    }
}



.h3{
	font-size: 25px;
    text-align: left;
    font-family: "FOCO","Open Sans Condensed"; 
    padding-top: 60px;
    color: rgb(242, 110, 34);
    padding-bottom: 10px;
}

.texto{
    font-size: 20px;
    text-align: left;
    font-family: "FOCO","Open Sans Condensed"; 
    
}