

/*CSS Conta do Usuário*/
.img-responsive{
    width: 150px;
}

.cabecalho-perfil{
    position: absolute;
    top: 35%;
    text-align: center;
}
.cabecalho-perfil h2{
    font-size: 24px;
}
#campos{
    position: absolute;
    top: 40%;
    left: 40%;
}
.botoes-minha-conta{
    float: right;
    margin-top: 5%;
    
}
#sair{
    position: absolute;
    top: 75%;
    right: 2%;
}
@media(max-width: 768px){
    .ls-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .cabecalho-perfil{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -45px;
    }
    #campos{
        position: absolute;
        top: 40%;
        left: 5%;
    }
    #sair{
        position: absolute;
        top: 85%;
    }
}
@media(max-width: 320px){
    .ls-footer{
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100px;
        border-top-width: 60px;
        
        
    }
    .cabecalho-perfil{
        width: 70px;
        position: absolute;
        top: 20%;
        left: 50%;
        margin-left: -35px;
    }
    #campos{
        position: absolute;
        top: 40%;
        left: 5%;
        
    }
    #sair{
        position: absolute;
        top: 100%;
    }
}

.nome-usuario{
    font-size: 25px;
    font-family: "FOCO","Open Sans Condensed"; 
    color: rgb(242, 110, 34);
}

@media(max-width: 1024px){
   #foto-usuario{
            
    
   
    margin-top: 0px;
    margin-right: 0px;
    width: 150px;
    margin-bottom: 0px;




    }
    .nome-usuario{
            
    
    margin-right: 20px;
    margin-left: 30px;



    }
    #campos{
        top: 500px; 

    }
}
@media(max-width: 768px){
   #foto-usuario{
            
    
    margin-right: 200px;
    width: 100px;
    margin-top: 10px;



    }
    .nome-usuario{
            
    margin-left: 0px;
    margin-right: 190px;


    }
    #campos{
        top: 380px; 

    }
}
@media(max-width: 414px){
    #foto-usuario{
            
    
    margin-right: 200px;
    width: 100px;
    margin-top: 60px;



    }
    .nome-usuario{
            
    margin-left: 0px;
    margin-right: 150px;


    }
    #campos{
        top: 340px; 

    }
}
@media(max-width: 411px){
    #foto-usuario{
            
    margin-right: 150px;
    width: 100px;
    margin-top: 60px;


    }
    .nome-usuario{
            
    margin-left: 0px;
    margin-right: 150px;


    }
    #campos{
        top: 340px; 

    }
}
@media(max-width: 360px){
    #foto-usuario{
            
    width: 100px;
    margin-top: 60px;
    margin-right: 100px;


    } 
    .nome-usuario{
            
    margin-left: 0px;
    margin-right: 100px;


    }
    #campos{
        top: 320px;  

    }
}
@media(max-width: 320px){
     #foto-usuario{
            
    margin-right: 150px;
    width: 100px;
    margin-top: 80px;


    }
    .nome-usuario{
            
    margin-left: 0px;
    margin-right: 150px;


    }
    #campos{
        top: 300px; 

    }
}


#formulario-01{
    margin: 20px;
}
